<h1>Hello, Tummy!</h1>
Are you logged in? {{request.user.is_authenticated}}
Not logged in? <a href="/login/">Click here to login</a>
<p><a href="/logout/">Click here to logout</a></p>

<ul>
    {% for recipe in data %}
        <li>
            {{recipe.title}} | by {{recipe.author.name}}
            <a href="/recipe/{{recipe.id}}/">Recipes</a>
        </li>
    {% endfor %}
    

</ul>

<p><a href="/recipesadd/">Click here</a> to add a recipe.</p>
<p><a href="/authoradd/">Click here</a> to add your name to the recipe.</p>